:root {
  /* spacing  */
  --margin-default: 1%;
  /* size */
  /* border */
  --border-radius-default: 10px;
  --border-thickness-default: 2px;
  /* font */
  --font-size-small: 0.9rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.8rem;
  --font-size-icon: 1.5rem;
  /* etc */
  --color-light-orange: #f2dbad;
  --color-dark-orange: #ec9479;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  padding: 20px;
  text-align: center;
}

.game {
  /* size */
  width: 1000px;
  height: 550px;
  margin: 0 auto;
  /* etc */
  position: relative;

  background-image: url(img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

.game__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game__timer {
  margin-top: 8px;
  /* justifying */
  display: flex;
  justify-content: center;
  align-items: center;
  /* size */
  width: 10%;
  aspect-ratio: 4/2;
  /* border */
  border-radius: var(--border-radius-default);
  border: var(--border-thickness-default) solid black;
  /* font */
  font-size: var(--font-size-large);
  /* etc */
  background-color: #fafafa;
}

.game__score {
  margin-top: 8px;
  /* justifying */
  display: flex;
  justify-content: center;
  align-items: center;
  /* size */
  width: 6%;
  aspect-ratio: 1 / 1;
  /* border */
  border-radius: 100%;
  border: var(--border-thickness-default) solid black;
  /* font */
  color: white;
  font-size: 2rem;
  /* etc */
  background-color: var(--color-dark-orange);
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  position: relative;
}

.button {
  cursor: pointer;
  /* size */
  height: 60px;
  width: 60px;
  /* border */
  outline: none;
  border-radius: var(--border-radius-default);
  border: var(--border-thickness-default) solid black;
  /* font */
  font-size: var(--font-size-icon);
  /* etc */
  background-color: var(--color-light-orange);
}
.button:hover {
  transform: scale(1.1);
}
.button.hidden {
  display: none;
}
.button.finished {
  visibility: hidden;
}

.dialog {
  /* justifying */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* size */
  left: 0;
  right: 0;
  top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 100px;
  height: 120px;
  /* border */
  border-radius: var(--border-radius-default);
  /* font */
  color: white;
  font-size: var(--font-size-large);
  /* etc */
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 2;
  position: absolute;
}
.dialog.hidden {
  display: none;
}
.dialog__refresh {
  /* size */
  width: 20%;
  aspect-ratio: 1 / 1;
}
.bug,
.carrot {
  position: absolute;
}
