:root {
  --color-white: white;
}
body {
  padding: 0;
  margin: 0;
  background-color: black;
}
body > * {
  position: absolute;
}
.coordination {
  color: var(--color-white);
  width: fit-content;
  padding: 20px;
}
.target {
  transform: translate(-50%, -50%);
}

.line {
  background-color: var(--color-white);
}
.xAxis {
  width: 100%;
  height: 1px;
}
.yAxis {
  width: 1px;
  height: 100%;
}
